{% extends "GlobalBundle:Client/Layout:layout.html.twig" %}

{% block metaTitle %}Meta title{% endblock %}
{% block metaDescription %}Meta description{% endblock %}

{% block contentitle %}
    <h1>Les actualités</h1>
{% endblock %}

{% block content %}
    <div class="recherche">
        <form action="{{ path('client_actualite_manager') }}" method="post">

            <select name="categorie">
                <option value="">Choisir une catégorie</option>
                {% for categorie in categories %}
                    {% if recherches.categorie == categorie.id %}
                        <option value="{{ categorie.id }}" selected>{{ categorie.nom }}</option>
                    {% else %}
                        <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <button type="submit" name="addRecherche"><i class="fa fa-search"></i></button>
        </form>
    </div>

    {% if avant %}
        <div class="actualiteAvant">

            <div class="actualiteTitre">
                <h3><a href="{{ path('client_actualite_view',{'slug': avant.slug, 'id': avant.id})}}">{{ avant.titre }}</a></h3>
            </div>

            <div class="actualiteImage">
                {% if avant.image %}
                    <img src="{{ asset('img/actualite/miniature/' ~ avant.image) }}">
                {% endif %}
            </div>

            <div class="actualiteDate">
                <p>{{ avant.debut|date("d/m/Y") }}</p>
            </div>

            <div class="actualiteResume">
                <p>{{ avant.resume }}</p>
            </div>

            <div class="actualiteLien">
                <a href="{{ path('client_actualite_view',{'slug': avant.slug, 'id': avant.id})}}"><i class="fa fa-angle-right"></i> Voir plus</a>
            </div>

        </div>
    {% endif %}


    <div class="actualites">

        {% for actualite in pagination %}
            <div class="actualite">
                <div class="actualiteTitre">
                    <h3><a href="{{ path('client_actualite_view',{'slug': actualite.slug, 'id': actualite.id})}}">{{ actualite.titre|truncate(30) }}</a></h3>
                </div>

                <div class="actualiteImage">
                    {% if actualite.image %}
                        <img src="{{ asset('img/actualite/miniature/' ~ actualite.image) }}">
                    {% endif %}
                </div>

                <div class="actualiteDate">
                    <p>{{ actualite.debut|date("d/m/Y") }}</p>
                </div>

                <div class="actualiteResume">
                    <p>{{ actualite.resume|truncate(120) }}</p>
                </div>

                <div class="actualiteLien">
                    <a href="{{ path('client_actualite_view',{'slug': actualite.slug, 'id': actualite.id})}}"><i class="fa fa-angle-right"></i> Voir plus</a>
                </div>
            </div>
        {% else %}
            <p>Aucune actualité</p>
        {% endfor %}

        <div class="clear"></div>

    </div>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}